<form action="/books/insertbooks" method="POST" class="form">
  <div class="form-control">
    <label for="title">Título:</label>
    <input type="text" name="tittle" placeholder="Digite o título do livro" required>
  </div>
  <div class="form-control">
    <label for="pages">Quantidade de páginas:</label>
    <input type="number" name="pages" placeholder="Insira a quantidade de páginas: " required>
  </div>
  <input type="submit" value="Cadastrar livro">
</form>